.subscribe {
   position: relative;
   z-index: 5;
}
.subscribe__container {
}
.subscribe__items {
   display: flex;
   flex-wrap: wrap;
   padding-top: 4.375rem;
   padding-bottom: 4.375rem;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   /* max-width: 66.25rem; */
   /* margin: 0 auto; */
   gap: 3.9375rem;
   position: relative;
}
@media (min-width: 72.5rem){
   .subscribe__items::before,
   .subscribe__items::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 45%;
      width: 2.0625rem;
      height: 2.0625rem;
      background-color: #FFF4EB;
      border-radius: 0.3125rem;
      transform: rotate(45deg);
   }
   .subscribe__items::before {
      left: -3rem;
   }
   .subscribe__items::after {
      right: -3rem;
   }
}
.subscribe__image {
   max-width: 17.3125rem;
}
.subscribe__image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
@media (any-hover: hover){
   .subscribe__image:hover{
      animation: heartbeat 1s infinite ease-in-out;
   }
}
@media (any-hover: none){
   .subscribe:active .subscribe__image {
      animation: heartbeat 1s infinite ease-in-out;
   }
}
.subscribe__content {
   display: flex;
   flex-direction: column;
}
.subscribe__content .subscribe__title {
   color: #12100C;
   text-align: left;
}
.subscribe__content .subscribe__title:not(:last-child) {
   margin-bottom: 2rem;
}
.subscribe__background {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;
   z-index: -1;
}
@media (max-width: 63.875rem){
   .subscribe__background {
      display: none;
   }
   .subscribe__items {
      background-color: #FFF4EB;
      margin: 0 -1.5rem;
   }
}
.subscribe__form {
}
.form {
}
.form__content {
   display: flex;
   overflow: hidden;
}
.form__email-input {
   flex: 1 1 auto;
   padding: 1.25rem 0.9375rem 1.25rem 2rem;
   color: #12100C;
   font-family: 'Satoshi-Medium';
   font-weight: 500;
   font-size: 1.125rem;
   background-color: transparent;
   overflow: hidden;
}
.form__email-input::placeholder {
   color: rgba(72,53,36,0.8);
   font-size: 1.125rem;
   line-height: normal;
   transition: opacity 0.3s linear;
}
.form__email-input:focus::placeholder {
   opacity: 0;
}
.form__button {
   border-radius: 0.75rem;
   font-size: 1.125rem;
}
.button--transition.form__button::before {
   background-color: #483524;
}
@media (any-hover: hover){
   .button--transition.form__button:hover::before {
      transition-duration: 0.8s;
   }
   .form__button:hover {
      color: #FFF4EB;
   }
}
@media (any-hover: none){
   .button--transition.form__button:active::before {
      transition-duration: 0.8s;
   }
   .form__button:active {
      color: #FFF4EB;
   }
}
.button {
}
@media (max-width: 61.9988rem){
   .subscribe__items {
      justify-content: center;
      padding-top: 3.125rem;
      padding-bottom: 3.125rem;
      gap: 2.5rem;
   }
   .subscribe__content .subscribe__title:not(:last-child) {
      margin-bottom: 1.25rem;
   }
}
@media (max-width: 47.9375rem) {
   .subscribe__items {
      flex-direction: column;
      align-items: stretch;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      background-color: #FFF4EB;
      gap: 1.875rem;
   }
   .form__content {
      flex-direction: column;
   }
   .subscribe__content {
      width: 100%;
   }
   .form__email-input {
      padding: 1.25rem 2rem;
      border-radius: 0.75rem;
      background-color: #F2E4DA;
   }
   .form__email-input:not(:last-child) {
      margin-bottom: 0.75rem;
   }
   .subscribe__image {
      max-width: 16.25rem;
      margin: 0 auto;
   }
}
@media (min-width: 48rem) {
   .subscribe__items {
      align-items: center;
      /* transition: all 0.8s linear; */
   }
   .form__content {
      border-radius: 0.75rem;
      background-color: #F2E4DA;
      max-width: 29.625rem;
   }
   .subscribe__title {
      text-align: center;
   }
}
@media (min-width: 63.875rem){
   .subscribe {
      /* margin-top: 10.9375rem; */
   }
   .subscribe__container {
      width: 66.875rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
   }
   .subscribe__items {
      padding-left: 7.3125rem;
      align-items: center;
      border-radius: 1em;
   }
   .subscribe__content .subscribe__title {
      max-width: 20.9375rem;
   }
}
/* @media (min-width: 63.875rem) {
   .subscribe__container {
      left: 50%;
      transform: translate(-50%, -50%);
   }
} */